name: Docker Base Image

env:
  REGISTRY: ghcr.io
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
on:
  push:
    paths:
      - "docker-base/**"
      - .github/workflows/base_image.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - id: lc_repo
        run: python3 -c'print("out=${{github.repository}}".lower())' >> "$GITHUB_OUTPUT"
      - name: Log in to the Container registry
        uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@ed95091677497158a9ff38b314264cd965388d5e
        with:
          images: ${{ env.REGISTRY }}/${{ steps.lc_repo.outputs.out}}/nix-alpine
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: docker-base
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ steps.lc_repo.outputs.out }}/nix-alpine
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
