name: Run integration tests

on:
  pull_request:

jobs:
  integrationtest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: docker build --load -t helmfile-nix .
      - name: Create KIND Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          kubeconfig: ./kubeconfig
      - run: kubectl cluster-info --context kind-chart-testing --kubeconfig kubeconfig
      - run: docker run --network=host -v .:/app -e KUBECONFIG=/app/kubeconfig helmfile-nix apply -f /app/testData/helm-nixchart
      - run: docker run --network=host -v .:/app -e KUBECONFIG=/app/kubeconfig helmfile-nix diff -f /app/testData/helm-nixchart
